{% extends "layout.html" %}
{% block title %}
  Star Wars universe planets
{% endblock %}
{% block content %}
  <section class="row">
    <h1><b>Star Wars</b> universe planets</h1>
  </section>
  <div id="content-wrapper">
    <section class="row">
      {% block nav_buttons %}{% endblock %}
    </section>
    <section class="row">
      {% block table %}{% endblock %}
    </section>
  </div>
{% endblock %}
{% block modals %}
  <section class="modal fade" id="residents-modal" tabindex="-1" role="dialog" aria-labelledby="residents-modal-title">
    <article class="modal-dialog modal-lg" role="document">
      <div class="modal-content" id="modal-content">
      </div>
    </article>
  </section>
{% endblock %}
